$columns:12;
.grid {
    @include flex();
    &-item {
        @for $index from 1 through $columns {
            &-#{$index} {
                width: (100%/$columns)*$index;
                &.border-left {
                    border-left: 2px solid #f44336;
                }
            }
        }
    }
    &-large {
        margin: -25px;
        & .grid-item {
            padding: 25px;
        }
    }
}