-
	let socialList = [
		{url: "#", classname: "icon-twitter"},										
		{url: "#", classname: "icon-facebook"},
		{url: "#", classname: "icon-google-plus"},
		{url: "#", classname: "icon-dribbble"},
	]

-
	let tabListAll = [
		{classname: "card-works", url: "images/tabs/Layer_15.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_17.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_19.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_18.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_16.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_22.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_20.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_13.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_21.jpg"}
	]

-
	let tabListBranding = [
		{classname: "card-works", url: "images/tabs/Layer_15.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_19.jpg"},										
		{classname: "card-works", url: "images/tabs/Layer_16.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_22.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_13.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_21.jpg"}
	]

-
	let tabListWeb = [
		{classname: "card-works", url: "images/tabs/Layer_19.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_18.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_16.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_22.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_20.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_13.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_21.jpg"}
	]

-
	let tabListLogo = [
		{classname: "card-works", url: "images/tabs/Layer_15.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_17.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_19.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_18.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_20.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_13.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_21.jpg"}
	]

-
	let tabListPhoto = [
		{classname: "card-works", url: "images/tabs/Layer_15.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_17.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_19.jpg"},
		{classname: "card-works", url: "images/tabs/Layer_18.jpg"}
	]

-
	let cardImageList = [
		{className: "card-team", cardImage: "images/team_img/Layer_24.jpg", body: "true", cardTitle: "John Filmr Doe", descr: "Managing Director"},
		{className: "card-team", cardImage: "images/team_img/Layer_25.jpg", body: "true", cardTitle: "Chystine Hineu", descr: "Lead Designer"},
		{className: "card-team", cardImage: "images/team_img/Layer_26.jpg", body: "true", cardTitle: "Martin Matrone", descr: "Lead Developer"},
		{className: "card-team", cardImage: "images/team_img/Layer_27.jpg", body: "true", cardTitle: "Steve Flaulkin", descr: "Sr. UI Designer"}
	]
-
	let sociaTeamlList = [
		{url: "#", classname: "icon-twitter"},										
		{url: "#", classname: "icon-facebook"},
		{url: "#", classname: "icon-google-plus"}
	]	

-
	let cardFactsList = [
		{className: "card-facts", cardImage: "images/counter/Clock.svg", body: "true", cardTitle: "3200", descr: "Hours of Work"},
		{className: "card-facts", cardImage: "images/counter/Friends.svg", body: "true", cardTitle: "120", descr: "Satisfied Clinets"},
		{className: "card-facts", cardImage: "images/counter/Rocket.svg", body: "true", cardTitle: "360", descr: "Projects delivered"},
		{className: "card-facts", cardImage: "images/counter/Cup.svg", body: "true", cardTitle: "42", descr: "Awards Won"}
	]

-
	let contactList = [
		{description: "2345 Setwant natrer, 1234, Washington. United States.", classname: "adress p-0" },
		{description: "(401) 1234 567", classname: "phone p-0"},
		{description: "hello@brandi.com", classname: "email p-0"},
		{description: "www.brandi.com", classname: "web p-0"},
	]

-
	let social_list = [
		{url: "#", classname: "icon-discuss icon-behance"},
		{url: "#", classname: "icon-discuss icon-twitter"},
		{url: "#", classname: "icon-discuss icon-dribbble"},
		{url: "#", classname: "icon-discuss icon-forrst"},
		{url: "#", classname: "icon-discuss icon-google-plus"}
	]